<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="input-group optimize-preview">
            <input type="text" class="form-control" placeholder="Type a url to preview" id="previewInput"/>
                <span class="input-group-btn">
                    <button class="btn btn-default ladda-button" data-style="expand-left" type="button" id="previewButton"><span class="ladda-label">OPTIMIZE</span></button>
                </span>
        </div>
        <div class="optimize-result">
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>