<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="input-group optimize-preview">
            <input type="text" class="form-control" placeholder="Type a url to preview"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span>OPTIMIZE</span>
                    </button>
                </span>
        </div>
        <div class="optimize-result">
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>