<h3 id="optimizations-font">Web Font</h3>
<p>Given that up to <a href="http://caniuse.com/#feat=fontface">93.43%</a> [ as of Oct 2014] of browser support web font, you have to accept that some of your visitor will not able show web font. If web font just used for text to looks cooler, it's not end of the day even if the web font failed to render. If your site cannot accept the failure of web font, you have to use fall back alternatives such as svg/image.</p>

<h4 id="sio-data-url-fonts">annotation: <code>sio-data-url</code></h4>
<p>
    Inline the font with data url. It's not perfect, but by inline WOFF, you covered at least <a href="http://caniuse.com/#feat=woff">83.7%</a> of all users. e.g.
{% highlight css %}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src:
        local('Lato Regular'), local('Lato-Regular'),
        url(lato-regular.woff?sio-data-url=enabled) format('woff');
}
{% endhighlight %}
    You may inline older web font format TTF to support older Android browsers on top of WOFF supported browsers.
</p>

<h4 id="sio-progressive-load">annotation: <code>sio-progressive-load</code></h4>
<p>
    Progressive load and render the web font.
<h5 id="sio-progressive-load-google-font">Google fonts example</h5>
Just add <code>&sio-progressive-load=enabled</code> to your google font link. e.g.
{% highlight html %}
<link href='//fonts.googleapis.com/css?family=Lato:400,700&sio-progressive-load=enabled' rel='stylesheet' type='text/css'>
{% endhighlight %}

It will optimized as:
{% highlight html %}
<script>
    (function () {
        var href = '//fonts.googleapis.com/css?family=Lato:400,700';
        var loadCss=function(){
            var ss = document.createElement("link");
            ss.rel = "stylesheet";
            ss.href = href;
            var ref = document.getElementsByTagName("script")[ 0 ];
            ref.parentNode.insertBefore(ss, ref);
        }

        try{
            var cacheKey='sio-loaded-'+href
            if(localStorage[cacheKey]){
                loadCss();
            }else{
                localStorage[cacheKey]=Date.now();
                window.addEventListener('load', function(){
                    loadCss();
                }, false);
            }
        }catch(ignore){
            loadCss();
        }
    })();
</script>
<noscript>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700"/>
</noscript>
{% endhighlight %}

<h5 id="sio-progressive-load-inline-fonts">Custom fonts example</h5>
Just add <code>sio-progressive-load=enabled</code> to your custom fonts css, all other standard annotation can be used in the css file. e.g.
{% highlight html %}
<link href='lato-font.css?sio-progressive-load=enabled' rel='stylesheet' type='text/css'>
{% endhighlight %}

It will optimized as:
{% highlight html %}

<script>
    (function () {
        var href = '//d310mzohrxmrzp.cloudfront.net/fb00c3edf7db76628b756ee5ffa19c6c.css';
        var loadCss=function(){
            var ss = document.createElement("link");
            ss.rel = "stylesheet";
            ss.href = href;
            var ref = document.getElementsByTagName("script")[ 0 ];
            ref.parentNode.insertBefore(ss, ref);
        }

        try{
            var cacheKey='sio-loaded-'+href
            if(localStorage[cacheKey]){
                loadCss();
            }else{
                localStorage[cacheKey]=Date.now();
                window.addEventListener('load', function(){
                    loadCss();
                }, false);
            }
        }catch(ignore){
            loadCss();
        }
    })();
</script>
<noscript>
    <link rel="stylesheet" type="text/css" href="//d310mzohrxmrzp.cloudfront.net/fb00c3edf7db76628b756ee5ffa19c6c.css"/>
</noscript>
{% endhighlight %}
</p>