<div>
  <h1 id="questions" class="page-header">Question?</h1>
    <div class="row contact-form">
        <div class="col-sm-12">
            <textarea class="form-control msg" rows="3" placeholder="Say something ..."></textarea>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control from" placeholder="Your email or phone number">
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary form-control contact">Contact</button>
        </div>
    </div>
</div>