---
layout: blog
title: Blog
lead: Make the Web Faster
permalink: /blog/
---
<div class="posts">
    <div>
        {% for page in site.posts %}
        <h3>
            <a href="{{ page.url }}">{{ page.title }} - {{ page.lead }}</a>
            <div class="date-and-author">{{ page.date | date_to_string }}{% if page.by_author %} {{ page.by_author }}{% endif %}</div>
        </h3>
        <p>
            {{ page.content | strip_html | truncatewords: 100 }}
        </p>
        {% endfor %}
    </div>
</div>