<footer class="page-footer flat-panel flat-panel-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>DEVELOPER</h3>
                <ul>
                    <li><a href="/document/"><i class="fa fa-file-text"></i>Document</a></li>
                    <li><a href="/blog/"><i class="fa fa-pencil-square"></i>Blog</a></li>
                    <li><a href="http://feeds.feedburner.com/statico_io"><i class="fa fa-rss"></i>RSS</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>CONTACT</h3>
                <ul>
                    <li><a href="tel:+35314428666">+353 1 4428 666</a></li>
                    <li><a href="mailto:team@statico.io">team@statico.io</a></li>
                    <li><a href="https://maps.google.com/maps?q=12+Duke+Lane+Upper,+Dublin,+Ireland">12 Duke Lane Upper,
                        Dublin</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>COMPANY</h3>
                <ul>
                    <li>Static CDN Ltd trading as <a href="/">statico.io</a></li>
                    <li>Registered in Ireland #: 539018</li>
                    <li>&copy; {{ site.time | date: '%Y' }} <a href="/">statico.io</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script src="/assets/vendors/jquery-1.9.1/jquery-1.9.1.js"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/affix.js"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/scrollspy.js"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/collapse.js"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/dropdown.js"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/tooltip.js"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/alert.js"></script>
<script src="/assets/vendors/ladda-20140414/ladda-spin-20140414.js"></script>
<script src="/assets/vendors/ladda-20140414/ladda-20140414.js"></script>
<script src="/assets/vendors/sockjs-0.3.4/sockjs-0.3.4.js"></script>

<script src="/assets/js/common/enable-affix.js"></script>
<script src="/assets/js/page/homepage.js"></script>
<script src="/assets/js/page/document.js"></script>
<script src="/assets/js/common/accounts.js"></script>
<script src="/assets/js/common/preview.js"></script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MJZH67"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJZH67');</script>
<!-- End Google Tag Manager -->
<!-- generation date: {{ page.date }} -->
