<li class="active">
    <a href="#overview">Overview</a>
    <ul class="nav">
        <li><a href="#hello-world">Hello World</a></li>
        <li><a href="#best-practices">Best Practices</a></li>
    </ul>
</li>
<li>
    <a href="#integration">Integration</a>
    <ul class="nav">
        <li><a href="#integration-standalone">Standalone</a></li>
        <li><a href="#integration-gradle">Gradle</a></li>
        <li><a href="#integration-maven">Maven</a></li>
        <li><a href="#integration-configuration">Configuration</a></li>
        <li><a href="#integration-authentication">Authentication</a></li>
        <li><a href="#integration-languages">Languages Support</a></li>
        <li><a href="#integration-s3">S3</a></li>
        <li><a href="#integration-ftp">FTP</a></li>
    </ul>
</li>
<li>
    <a href="#optimizations">Optimizations</a>
    <ul class="nav">
        <li><a href="#optimizations-html">Html</a></li>
        <li><a href="#optimizations-css">CSS</a></li>
        <li><a href="#optimizations-images">Images</a></li>
        <li><a href="#optimizations-fonts">Fonts</a></li>
        <li><a href="#optimizations-js">JavaScript</a></li>
    </ul>
</li>