<section id="customers" class="flat-panel flat-panel-dark">
    <div class="flat-title">
        <h2>SPEED UP MILLIONS USERS MONTHLY</h2>
    </div>
    <div class="flat-content">
        <div class="container content">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.whatclinic.com/"><i class="customer-logo customer-whatclinic"></i></a>
                    <ul>
                        <li>Best <a href="http://www.whatclinic.com">WhatClinic.com</a><br/>speed gains in years from statico <br/>- very happy</li>
                        <li><i class="customer-contact customer-whatclinic-contact"></i></li>
                        <li>Caelen King</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.goldenpages.ie/"><i class="customer-logo customer-goldenpages"></i></a>
                    <ul>
                        <li>&nbsp;<br/> &nbsp;<br/> &nbsp;</li>
                        <li><i class="customer-contact customer-goldenpages-contact"></i></li>
                        <li>Shane Gray</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <a href="http://dracupuncture.ie/"><i class="customer-logo customer-dracupuncture"></i></a>
                    <ul>
                        <li>I saw our responsive site on<br/> mobile in 1 second after optimize<br/> instead of 5 seconds originally</li>
                        <li><i class="customer-contact customer-dracupuncture-contact"></i></li>
                        <li>Sonia Wang</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>