<section id="customers" class="flat-panel flat-panel-dark">
    <div class="flat-title">
        <h2>SPEED UP MILLIONS USERS MONTHLY</h2>
    </div>
    <div class="flat-content">
        <div class="container content">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.whatclinic.com/"><i class="customer-logo customer-whatclinic"></i></a>
                    <ul>
                        <li>Best <a href="http://www.whatclinic.com">WhatClinic.com</a> speed<br/>gains in years from statico <br/>- very happy</li>
                        <li><i class="customer-contact customer-whatclinic-contact"></i></li>
                        <li><a href="https://twitter.com/Caelen">Caelen King</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.goldenpages.ie/"><i class="customer-logo customer-goldenpages"></i></a>
                    <ul>
                        <li>The integration consultant made<br/>our speed improvement simple<br/>and easy: get fast in a few days.</li>
                        <li><i class="customer-contact customer-goldenpages-contact"></i></li>
                        <li><a href="http://www.fcrmedia.ie/">FCR Media</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <a href="http://dracupuncture.ie/"><i class="customer-logo customer-dracupuncture"></i></a>
                    <ul>
                        <li>I saw our optimized responsive<br/>site on mobile in 1 second<br/>instead of 5 secs originally.</li>
                        <li><i class="customer-contact customer-dracupuncture-contact"></i></li>
                        <li>Sonia Wang</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>