<section id="get-started" class="flat-panel">
    <div class="flat-title">
        <h2><a href="/document/" class="get-started-from-panel">get started</a></h2>
    </div>
    <div class="flat-content">
        <div class="container content">
            <div class="row">
                <div class="col-sm-6">
                    <h3>WINDOWS</h3>
                    <i class="fa fa-windows fa-5x"></i>
                    <ul>
                        <li>
                            <div><span>1. download <a
                                href="https://repo1.maven.org/maven2/io/staticcdn/sdk/staticcdn-sdk-standalone-optimizer/{{ site.statico.sdk.version }}/staticcdn-sdk-standalone-optimizer-{{ site.statico.sdk.version }}.zip">
                            <b>staticcdn-sdk-standalone-optimizer-{{ site.statico.sdk.version }}.zip</b>
                        </a> [50KB]</span></div>
                        </li>
                        <li>
                            <div><span>2. unzip <b>staticcdn-sdk-standalone-optimizer-{{ site.statico.sdk.version }}.zip</b></span></div>
                        </li>
                        <li>
                            <div><span>3. double click <b>optimizer.bat</b></span></div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h3>MAC/LINUX</h3>
                    <i class="fa fa-apple fa-5x"></i>
                    <ul>
                        <li>
                            <div><span>curl -O https://repo1.maven.org/maven2/io/staticcdn/sdk/staticcdn-sdk-standalone-optimizer/{{ site.statico.sdk.version }}/staticcdn-sdk-standalone-optimizer-{{ site.statico.sdk.version }}.zip</span></div>
                        </li>
                        <li>
                            <div><span>unzip staticcdn-sdk-standalone-optimizer-{{ site.statico.sdk.version }}.zip</span></div>
                        </li>
                        <li>
                            <div><span>./staticcdn-sdk-standalone-optimizer-{{ site.statico.sdk.version }}/optimizer</span></div>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>