<section id="lifecycle" class="flat-panel flat-panel-dark">
    <div class="flat-title">
        <h2>
            all you need to speed up your site
        </h2>
    </div>
    <div class="flat-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>FRONT END<br/>OPTIMIZATION</h2>
                    <i class="fa fa-gear fa-5x"></i>
                    <ul>
                        <li>at build time from cloud</li>
                        <li>
                            <a href="/document/#optimizations-html">html</a> |
                            <a href="/document/#optimizations-css">css</a> |
                            <a href="/document/#optimizations-image">image</a> |
                            <a href="/document/#optimizations-font">font</a> |
                            <a href="/document/#optimizations-js">js</a>
                        </li>
                        <li>
                            <a href="/document/#optimizations-css-minification">minify</a> |
                            <a href="/document/#optimizations-css-aggregation">aggregation</a> |
                            <a href="/document/#sio-auto-sprite">sprite</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2>BACKEND<br/>ACCELERATION</h2>
                    <i class="fa fa-rocket fa-5x"></i>
                    <ul>
                        <li>dynamic content</li>
                        <li>smart cache</li>
                        <li>consultation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>