<section id="lifecycle" class="flat-panel flat-panel-dark">
    <div class="flat-title">
        <h2>
            all you need to speed up front end
        </h2>
    </div>
    <div class="flat-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>OPTIMIZE</h2>
                    <i class="fa fa-gear"></i>
                    <ul>
                        <li>at build time from cloud</li>
                        <li>
                            <a href="/document/#optimizations-html">html</a> |
                            <a href="/document/#optimizations-css">css</a> |
                            <a href="/document/#optimizations-image">image</a> |
                            <a href="/document/#optimizations-font">font</a> |
                            <a href="/document/#optimizations-js">js</a>
                        </li>
                        <li>
                            <a href="/document/#optimizations-css-minification">minify</a> |
                            <a href="/document/#optimizations-css-aggregation">aggregation</a> |
                            <a href="/document/#sio-auto-sprite">sprite</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>DELIVER</h2>
                    <i class="fa fa-cloud-download"></i>
                    <ul>
                        <li>premium CDN</li>
                        <li>shared for all users</li>
                        <li>with immutable files</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>CONSULTANT</h2>
                    <i class="fa fa-smile-o"></i>
                    <ul>
                        <li>hassle free</li>
                        <li>integration</li>
                        <li>faster in days</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>