<section id="pricing" class="flat-panel">
    <div class="flat-title">
        <h2>pricing</h2>
    </div>
    <div class="flat-content">
        <div class="container content">
            <div class="row">
                <div class="col-sm-4">
                    <h3>ELASTIC</h3>
                    <i class="grid-icon pricing-1"></i>
                    <h3>€1</h3>
                    <ul>
                        <li>every 1,000 visits</li>
                        <li>first 10,000 free</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>BUSINESS</h3>
                    <i class="grid-icon pricing-2"></i>
                    <h3>€500</h3>
                    <ul>
                        <li>every 1M visits</li>
                        <li>integration consultant</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>ENTERPRISE</h3>
                    <i class="grid-icon pricing-3"></i>
                    <h3>€???</h3>
                    <ul>
                        <li>unlimited visits</li>
                        <li>custom domain/CDN</li>
                    </ul>
                </div>
            </div>
            <ul>
                <li><i class="fa fa-dollar"></i>free for non-commercial use</li>
                <li><i class="fa fa-user"></i>consultation billed daily with fixed rate</li>
            </ul>
        </div>
    </div>
</section>