<section id="get-started" class="flat-panel">
    <div class="flat-title">
        <h2>faster sites benefits</h2>
    </div>
    <div class="flat-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>SEO</h2>
                    <i class="grid-icon brand-google"></i>
                    <ul>
                        <li>higher ranking</li>
                        <li>=</li>
                        <li>more traffic</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>CONVERSION</h2>
                    <i class="grid-icon brand-amazon"></i>
                    <ul>
                        <li>100ms</li>
                        <li>=</li>
                        <li>1% sales</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>ENGAGEMENT</h2>
                    <i class="grid-icon brand-nytimes"></i>
                    <ul>
                        <li>250ms</li>
                        <li>=</li>
                        <li>the difference for shoppers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>